- name: Ensure user is present
  ansible.builtin.user:
    name: "{{ user_name }}"
    state: present
    groups: "{{ user_groups }}"
    append: true
    shell: /bin/bash
    create_home: true
  when: user_state == "present"

- name: Set Authorized SSH key
  ansible.builtin.authorized_key:
    user: "{{ user_name }}"
    key: "{{  user_ssh_key  }}"
  when:
    - user_state == "present"
    - user_ssh_key | length > 0

- name: Remove User and home dir
  ansible.builtin.user:
    name: "{{ user_name }}"
    state: absent
    remove: true
  when: user_state == "absent"